<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casier - Gestion Visuelle</title>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/icon-font/bootstrap-icons.css}">

    <!-- CSS locaux -->
    <link rel="stylesheet" th:href="@{/assets/css/dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/includeCss.css}">
    <link rel="stylesheet" th:href="@{/assets/css/form.css}">

</head>
<body>
<div th:replace="~{include/navbar :: navbar}"></div>

<!-- Wrapper: sidebar + content -->
<div class="wrapper">

    <div th:replace="~{include/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div class="tab-content" id="formTabsContent">
            <!-- Formulaire Simple -->
            <div class="tab-pane fade show active" id="simpleFormTab" role="tabpanel">
                <div class="form-section">
                    <h2 class="form-title">Formulaire Ajout Utilisateur</h2>

                    <form th:action="@{/user/save}"
                          th:object="${utilisateur}"
                          method="post">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nom"
                                   th:field="*{nom}" required placeholder="RANDRIAMALALA">
                        </div>

                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prenom<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="prenom"
                                   th:field="*{prenom}" required placeholder="Valisoa">
                        </div>

                        <div class="mb-3">
                            <label for="mail" class="form-label">Mail<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="mail"
                                   th:field="*{login}" required placeholder="Valisoa@hotmail.com">
                        </div>

                        <div class="mb-3">
                            <label for="contact" class="form-label">Contact<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="contact"
                                   th:field="*{contact}" required placeholder="0327191379">
                        </div>

                        <div class="mb-3">
                            <label for="mdp" class="form-label">Mot de passe<span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="mdp"
                                   th:field="*{mdp}" required placeholder="Mot de passe">
                        </div>


                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{include/footer :: footer}"></div>

</body>
</html>